.container
  .row{style: 'text-align: center;'}
    .span3
      .well
        %h4 Acquisition cost
        %h3#acquisition-cost $ -
    .span3
      .well
        %h4 Engagement cost
        %h3#engagement-cost $ -
    .span3
      .well
        %h4 Revenue
        %h3#revenue $ -
    .span3
      .well
        %h4 Margin
        %h3#margin $ -
  .row
    .span12
      #chart