@media (max-width: 480px) {

}
@media (max-width: 767px) {
  .well {
    input.span9, textarea.span9, .uneditable-input.span9 {
      width: 220px;
    }
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .well {
    input.span9, textarea.span9, .uneditable-input.span9 {
      width: 488px;
    }
  }
}
@media (min-width: 1200px) {
  .well {
    input.span9, textarea.span9, .uneditable-input.span9 {
      width: 820px;
    }
  }
}