#header {
  .first-level {
    height: $header-height;
    &.logged-out {
      margin-bottom: 18px;
    }
  }
  .second-level {
    .navbar-inner {
      @include border-radius(0);
    }
  }

  li.active a{
    @include background-image(linear-gradient(top, color-stops(#5C7894, #455564)));
  }

  .flash {
    position: absolute;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    .alert {
      margin-top: 14px;
      @include text-overflow();
      @include box-shadow(0 0 2px $warningText);
      &.alert-error {
        @include box-shadow(0 0 2px $errorText);
      }
    }
  }

  .email {
    color: #333;
  }

  .logo {
    margin-top: 22px;
    font-size: 36px;
    font-family: 'EurostileRegular';
    color: $dark-gray;
    display: inline-block;
    .gray {
      color: $gray;
    }
    .portal{
      font-size: 14px;
      font-family: 'EurostileBold';

    }
  }
  .session-container {
    margin-top: 20px;
    float: right;
    > a {
      display: inline-block;
    }
  }
  .icon {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    display: inline-block;
    &.login {
      background: image-url('dark-icons/user.png');
    }
    &.home {
      background: image-url('dark-icons/home.png');
    }
  }

  .dropdown-menu {
    right: 0;
    .icon.logout {
      background: image-url('dark-icons/exit.png');
    }
    a:hover .icon.logout {
      background: image-url('light-icons/exit.png');
    }
    li > a:hover, .active > a, .active > a:hover {
      @include background-image(linear-gradient(top, color-stops(#5C7894, #455564)));
    }
    .nav-header {
      display: block;
      padding: 3px 15px;
      font-size: 11px;
      font-weight: bold;
      line-height: $baseLineHeight;
      color: $grayLight;
      text-shadow: 0 1px 0 rgba(255,255,255,.5);
      text-transform: uppercase;
    }
    li + .nav-header {
      margin-top: 9px;
    }
  }
}