#header
  .container.first-level.logged-out
    .row
      .span2
        = image_tag("actalyze_small.png", class: 'top10')
      .span5.top10
        %a.reset.logo{href: root_path}
          %span= 'Actalyze'

