#header
  .container.first-level.logged-out
    .row
      .span5
        = image_tag("actalyze_small.png", class: 'top10')
  .navbar.second-level
    .navbar-inner
      .container
        %ul.nav
          %li.home
            %a.reset{href: dashboard_path}= t('.dashboard')
          %li.active
            %a.reset{href: chart_path}= t('.chart')
